# Ignore compiled files and directories
bin/
obj/

# Ignore user-specific files
*.user

# Ignore Visual Studio files
.vscode/
*.suo
*.sln
*.vcxproj
*.csproj.user
*.pdb

# Ignore Node.js files
node_modules/
npm-debug.log

# Ignore NuGet packages folder
packages/

# Ignore .NET core files
*.dll
*.exe
*.json
*.xml
*.log

