@page "/Auth"

@inject NavigationManager _nav


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Selectează o acțiune</h5>
                    <p class="card-text">Alegeți opțiunea de login sau signup.</p>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <button type="button" class="btn btn-primary btn-block"@onclick="@(() => _nav.NavigateTo("/login"))">Login</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-secondary btn-block" @onclick="@(() => _nav.NavigateTo("/signup"))">Signup</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
