@inject FetchService FetchService
@inject ISessionStorageService sessionStorage
@using Checker.Services
@using Checker.state
@inject IDispatcher Dispatcher


<PageTitle>loged</PageTitle>

<h1>You are loged</h1>

<div class="col-md-6">
<button type="button" class="btn btn-secondary btn-block" @onclick="@(() => getAll() )">get</button>
</div>


@code{


     private async Task<string> GetToken()
    {
         
        string retrievedToken = await sessionStorage.GetItemAsync("authToken");
        return retrievedToken;
       
    }




private async void getAll(){

    try{
      var token = await GetToken();
      var response = await FetchService.GetRespons("https://backend.gabrielchiorcea.tech/get", token);
      Dispatcher.Dispatch(new GetProfileCardState(response));
    }catch(Exception ex){
      Console.WriteLine(ex);
    }

  }
}  


