@page "/login"
@using global::Checker.Services
@using global::Checker.Models
@inject AuthService AuthService

<PageTitle>Creare cont</PageTitle>


@code {
    private LoginModel loginModel = new LoginModel();
    
    private async Task HandleLogin()
    {
     

        try{

            var token =  await AuthService.LoginAsync(loginModel);
            loginModel = new LoginModel();
            Console.WriteLine(token?.message);
        }
        
        catch (Exception ex) {
             Console.WriteLine("Eroare la creare cont: "+ ex.Message);
        }
    }
}


<div class="col-lg-6 offset-lg-3" >
    <h1>Creare cont</h1>
    <div class="row justify-content-center">
        <EditForm  Model="loginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />

            <div class="mb-3" >
                <label class="form-label" >First Name</label>
                <InputText class="form-control"  @bind-Value="loginModel.firstName" />
                <ValidationMessage For="() => loginModel.email"/>
            </div>

            <div class="mb-3" >
                <label class="form-label" >Last Name</label>
                <InputText class="form-control"  @bind-Value="loginModel.lastName" />
                <ValidationMessage For="() => loginModel.email"/>
            </div>


            <div class="mb-3">
                <strong>Date of birth</strong>:
            </div>
            <div class="mb-3">
                <InputDate TValue="DateOnly" @bind-Value="loginModel.dateOdBirth" aria-placeholder="Enter Date"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <InputText class="form-control" @bind-Value="loginModel.email"/>
                <ValidationMessage For=" () => loginModel.email"/>
            </div>

            <div class="mb-3" >
                <label class="form-label" >Password:</label>
                <InputText class="form-control" @bind-Value="loginModel.password" type="password" />
                <ValidationMessage For="() => loginModel.password"/>
            </div>

            <button class="btn btn-primary" type="submit">Login</button>

        </EditForm>
    </div>
</div>


